<footer class="bg-light text-center mt-5">
  <!-- Copyright -->
  <P class="text-muted" >
  <small>
    &copy;{{'Now'|date('Y')}} &middot;Built with <span class="text-danger">&hearts;</span>By
    <a class="text-dark" href="https://symfony.com/"> Nasser!symfony.com</a>
    </small>
  </P>
  <!-- Copyright -->
</footer>
